.list-container{
  height: 100%;
}

.example-card {
  max-width: 342px;
    cursor: pointer;
    margin: 26px;
    height: 51%;
}

.example-header-image {
  background-size: cover;
}

img{
  height: 300px;
  object-fit: contain;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.preco {
  font-size: 20px;
  color: rgb(28,177,28);
}

.add-button {
  justify-content: flex-start;
  margin: 1rem;
}