.example-card {
  max-width: 300px;
  cursor: pointer;

}

.example-header-image {
  background-size: cover;
}

img{
  height: 300px;
  object-fit: contain;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.preco {
  font-size: 20px;
  color: rgb(28,177,28);
}
