
header{
    height: 3.7rem;
}
.nav-bar{
    width: 100%;
    height: 100%;
    background: #1B2226;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-colum-1{
    display: flex;
    align-items: center;
}

.nav-colum-1 img{
    margin-right: 0.5rem;
}

.pesquisa{
    width: 84%;
    height:83%;
    border-radius: 4px;
    background: transparent;
    border: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.pesquisa:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

.container-pesquisa{
    width: 17.5rem;
    height: 2.12rem;
    border-radius: 4px;
    border: none;
    background: #38434F;
    display: flex;
    justify-content: start;
    align-items: center;
}

.container-pesquisa img{
    width: 1rem;
    height: 1rem;
    padding-left: 4.3%;
}

.nav-colum-2{
    display: flex;
    align-items: center;
    margin-right: 9rem ;
}

.nav-colum-2 ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-colum-2 li{
    margin-right: 0.8rem;
}

.nav-colum-2 li a p{
    margin-top: 0.5rem;
}

.icones{
    display: flex;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Roboto' , sans-serif;
    font-size: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.separator-container{
    height: 4rem;
    display: flex;
    width: auto;
}

.separator-container a{
    
    margin-left: 1.5rem;
}

.separator-container a p{
    margin-top: 0.5rem;
}

.separator{
    display: block;
    height: 100%;
    width: 0.2rem;
    background: rgba(255, 255, 255, 0.6);
}

.container-perfil-info{
    width: 100%;
    height: 33rem;
    display: flex;
    justify-content: start;
}

.perfil-info{
    width: 60%;
    height: 94%;
    background: #1B2226;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    margin-top: 1.3%;
}

.imagem-capa{
    width: 100%;
}

.foto-perfil{
    width: 10%;
    height: 21%;
    position: absolute;
    padding-top: 13%;
    padding-left: 1%;
}

.info-gerais{
    margin-top: 9%;
    margin-left: 3%;
    font-family: 'Roboto' , sans-serif;
    display: flex;
    justify-content: space-between;
}

.info-gerais p {
    margin-top: 0.5rem;
}

.nome{
    font-size: 24px;
    color: #ffffff;
}

.texto-destaque-cinza{
    color : rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.texto-destaque-azul{
    color: #70B5F9;
    font-size: 14px;
}

.subtitulo{
    color:  rgba(255, 255, 255, 0.9);
    font-size: 16px;
    margin-top: 0.5rem;
}

.botao-principal{
    width: 128px;
    height: 32px;


    background: #70B5F9;
    border-radius: 16px;
}

.local{
    display: flex;
    margin-top: 2%;
    align-items: center;
}

button{
    border: none;
    cursor: pointer;
}

.botao-secundario{
    width: 128px;
    height: 32px;


    border: 1px solid #70B5F9;
    color: #70B5F9;
    background: transparent;
    border-radius: 16px;
}

.botoes-controle{
    margin-top: 0.2rem;
}

.colum-2{
    margin-right: 7rem;
    width: 24%;
}

.colum-2 li{
    margin-top: 4%;
    display: flex;
    align-items: center;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
}

.icone-empresa{
    width: 32px;
    height: 32px;
    margin-right: 2%;
}

.info-cont{
    margin: 0 0.2rem 0 0.2rem;
}
.info-cont::before{
    content: "\00B7";
}

.seguidores{
    margin: 0.2rem 0 0.5rem 0;
}