body{
   display: flex;
   flex-direction: column;
}
header{
   height: 130px;
   width: 100%;
}
.contat-container{
   background-color: rgb(002, 000, 133);
   width: 100%;
   height: 30px;
   display: flex;
   justify-content: end;
   align-items: center;
}
.contat-container span{
   color: #ffffff;
   margin:  0 13px 0 0;
}
.box-contat{
   margin: 0 12% 0 0;
}
.logo{
   width: 180px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ffffff;
   margin: 15px 0 7px 10%;
}
.logo img{
   width: 129px;
   height: 55px;
}
.menu{
   float: right;
   display: block;
   position: relative;
   bottom: 50px;
   right: 20px;
   right: 190px;
}
.lista-menu-principal{
   float: left;
   margin: 16px 27px 0 0;
   padding-bottom:20px;
   display: flex;
   justify-content: center;
}
.texto-menu{
   color: #c0c0c0;
   text-decoration:none;
}
.menu-principal li:hover > .sub-menu-1{
   visibility: visible;
   align-items: center;
}
.sub-menu-1{
   visibility: hidden;
   display: block;
   top: 48px;
   position: absolute;
   background-color: #020085;
   color: #9094C1;
}
.sub-menu-1 li:hover > .sub-menu-2{
   visibility: visible;
}
.sub-menu-2{
   width: 107px;
   height: 144px;
   padding: 0;
   display: block;
   position: absolute;
   background-color: #020085;
   color: #9094C1;
   padding: 13px;
   margin: -24px 0px 0px 96px;
   visibility: hidden;
}
.sub-menu-2 li{
   margin-bottom: 19px;
}
.itens-submenu-1{
   padding: 8px 15px;
}
.container-slide{
   width: 100%;
   height: 290px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #D1D1D1;
}
.slide{
   background: #B4B4B4;
   width: 894px;
   height: 290px;
}
.container-condicoes{
   width: 100%;
   height: 220px;
   background: #ffffff;
   display: flex;
   justify-content: center;
   margin: 34px 0 99px 0;
}
.condicoes-imagem{
   width: 255px;
   height: 212px;
   color: #ffffff;
   background: #000000ea;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5px;
   box-shadow: 5px 6px 18px #000000;
   
}
.condicoes-imagem img{
   width: 100%;
   height: 100%;
   transition: 400ms;
}
.condicoes-imagem img:hover{
   opacity: 0.3;
   transition: 400ms;
}
.condicoes-texto{
   color: #979797;
   margin-top: 15px;
   margin-right: 146px;
   line-height: 30px;
}
.padrao-subtitulo{
   color: #979797;
   text-transform: uppercase;
   font-size: 25px;
   margin-bottom: 10px;
   font-weight: lighter;
   letter-spacing: 2px;
}
.container-boxes-destaque{
   width: 100%;
   height: 220px;
   display: flex;
   justify-content: center;
}
.container-boxes-destaque h2{
   text-align:justify;
   margin-bottom: 12px;
}
.boxes-destaque{
   height: 100%;
   width: 891px;
}
.lista-caixas li{
   float: left;
}
.lista-caixas{
   background: #ffffff;
   display: flex;
   justify-content: center;
   margin-left: 30px;
}
.lista-caixas li{
   display: flex;
   flex-direction: column;

}
.imagem-caixa{
   width:196px;
   height:163px;
   color: #ffffff;
   background: #020085;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 35px;
}
.lista-caixas p{
   width: 70%;
   margin-top: 10px;
   text-align: calc(231px-35px);
   color: #979797;
}
footer{
   margin-top: 90px;
   background: #454545;
   height: 100%;
}
.menu-rodape{
   width: 100%;
   height: 200px;
   background: #454545;
   width: 100%;
   height: 200px;
   display: flex;
   justify-content: center;
}
.menu-rodape li{
   float: left;
   margin-left: 15px;
   margin-top: 20px;
}

@media screen and (max-width:1240px){
   .menu{
      right: 100px;
   }
   .slide{
      width: 770px;
   }
}

@media screen and (max-width: 950px) {
.container-condicoes{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 51%;
      margin-bottom: 66px;
   }
.condicoes-imagem{
   margin-bottom: -22px;
   margin-top: 43px;
}
}

@media screen and (max-width: 820px){
   .condicoes-texto{
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      line-height: 29px;
   }
   .padrao-subtitulo{
      margin-top: 10px;
   }
   .condicoes-texto {
      margin-left: 21%;
      
   }
   .contat-container{
      display: none;
   }
   .menu{
      display: none;
   }
   .container-menu-lateral{
      position: fixed;
      top: 0;
      right: 0;
      width: 220px;
      height: 100%;
      padding-top: 10px;
      background: #1851bb;
      box-shadow: -5px -10px 10px 0 rgba(0,0,0,.4);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
   }
   .container-menu-lateral ul{
      display: flex;
      flex-direction: column;
      text-align: right;
   }
   .container-menu-lateral li{
      width: 100%;
      padding: 13%;
      display: block;
   }
   .container-menu-lateral li a{
      
   }
   .container-menu-lateral li:hover{
      background-color: #020085;
   }
   header{
      display: flex;
      justify-content: center;
      align-items: center;

   }
   .menu-lateral{
      margin-top: 20%;
   }
   .menu-lateral-contatos{
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
   }
   .menu-lateral-contatos span{
      margin-bottom: 10px;
      color: #ffffff;
   }
}
