body{
   display: flex;
   flex-direction: column;
}
header{
   width: 100vw;
   height: 130px;
}
.contat-container{
   background-color: rgb(002, 000, 133);
   width: 100vw;
   height: 30px;
   display: flex;
   justify-content: end;
   align-items: center;
}
.contat-container span{
   color: #ffffff;
   margin:  0 13px 0 0;
}
.box-contat{
   margin: 180px;
}
.logo{
   background-color:rgb(002, 000, 133) ;
   width: 180px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ffffff;
   margin: 15px 0 7px 164px;
}

.menu{
   float: right;
   display: block;
   position: relative;
   bottom: 50px;
   right: 20px;
   right: 190px;
}

.lista-menu-principal{
   float: left;
   margin: 16px 27px 0 0;
   padding-bottom:20px
}

.menu-principal li a{
   color: #c0c0c0;
   text-decoration:none;
}
.menu-principal li:hover > .sub-menu-1{
   visibility: visible;
   align-items: center;
}
.sub-menu-1{
   visibility: hidden;
   display: block;
   top: 50px;
   position: absolute;
   align-items: center;
   background-color: #020085;
   color: #9094C1;
   margin-right: 20px;
}
.sub-menu-1 li{
   padding: 8px 15px;
}
.container-slide{
   width: 100vw;
   height: 290px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #D1D1D1;
}
.slide{
   background: #B4B4B4;
   width: 894px;
   height: 290px;
}
.container-condicoes{
   width: 100vw;
   height: 220px;
   background: #ffffff;
   display: flex;
   justify-content: space-around;
}
.condicoes-imagem{
   width: 325px;
   height: 212px;
   color: #ffffff;
   background: #020085;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5px;
}

.condicoes-texto{
   color: #979797;
   margin-top: 15px;
}
.condicoes-texto h2{
   text-transform: uppercase;
   font-size: 25px;
   margin-bottom: 10px;
   font-weight: lighter;
   letter-spacing: 2px;
}