<header>
  <div class="topnav">
    <a routerLink="home" routerLinkActive="active">Home</a>
    <a routerLink="novo" routerLinkActive="active">Novo</a>
    <a routerLink="produto" routerLinkActive="active">Produto</a>
  </div>
</header>

<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <ul class="nav-bar">
    <li class="nav-item">
      <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="novo" routerLinkActive="active">Novo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="produto" routerLinkActive="active">Produto</a>
    </li>
  </ul>
</mat-toolbar>
